.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 432px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 20px 2px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 12px 122px 0 28px;
}

.u-section-1 .u-video-1 {
  height: 215px;
  width: 345px;
  margin: 14px auto 0;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-2 {
  margin: 12px 28px 0;
}

.u-section-1 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 20px 2px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 12px 122px 0 28px;
}

.u-section-1 .u-video-2 {
  height: 215px;
  width: 345px;
  margin: 14px auto 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-4 {
  margin: 12px 28px 0;
}

.u-section-1 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 20px 2px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 12px 122px 0 28px;
}

.u-section-1 .u-video-3 {
  height: 215px;
  width: 345px;
  margin: 14px auto 0;
}

.u-section-1 .embed-responsive-3 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-6 {
  margin: 12px 28px 0;
}

.u-section-1 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 20px 2px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 12px 122px 0 28px;
}

.u-section-1 .u-video-4 {
  height: 215px;
  width: 345px;
  margin: 14px auto 0;
}

.u-section-1 .embed-responsive-4 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .u-text-8 {
  margin: 12px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 409px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-video-1 {
    height: 211px;
    width: 338px;
  }

  .u-section-1 .u-video-2 {
    height: 211px;
    width: 338px;
  }

  .u-section-1 .u-video-3 {
    height: 211px;
    width: 338px;
  }

  .u-section-1 .u-video-4 {
    height: 211px;
    width: 338px;
  }
}